In [1]:
#modules
import pandas as pd
import numpy as np
import os
import csv

In [2]:
#Importing CSV File
BankFile = os.getcwd() + "\Resources\\budget_data.csv"
#print(BankFile)

In [12]:
#Calling CSV File
Bank = pd.read_csv(BankFile)
#Bank.head()
Banks = pd.DataFrame(Bank)
Banks.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [4]:
#Analysis (Number of months)
tMonths = len(Bank)
#tMonths = Bank.count()
#print(tMonths)

In [5]:
#analysis (Total Profit/Loss)
tProfit = sum(Bank.Revenue)
#print(tProfit)

In [6]:
#analysis (Average Profit/loss)
#Not sure this is what they're asking for.
aProfit = tProfit/tMonths
#print(aProfit)
#Bank.mean()

In [ ]:
#Actual Average monthly change
#psudoCode
#for i = 2 to tMonths
    #Revenue[i] - Revenue[i-1] = mChange
    #mChange concatinated as new column on row i
    #sum(mChange) = TotalMonthlyChange
    #TotalMonthelyChange/tMonths = AverageMonthlyChange
#Need to find out how to concatinate

In [7]:
max(Bank.Revenue)
Bank.max()

Bank.min()

Date         Apr-13
Revenue    -1172384
dtype: object

In [8]:
#print("Financial Analysis")
print("Total Months: " + str(tMonths))
print("Total Profit/Loss: $" + str(tProfit))
#print("Average Change Between Months: $")
#print("Greatest Increase in Profits: $")
#print("Greatest Decrease in Profits: $")

Total Months: 41
Total Profit/Loss: $18971412