In [1]:
import pandas as pd
import numpy as np

In [2]:
web_stats = {'Day':[1,2,3,4,5,6],
             'Visitors':[43,34,65,56,29,76],
             'Bounce Rate':[65,67,78,65,45,52]}

In [3]:
df = pd.DataFrame(web_stats)
df.head()

   Day  Visitors  Bounce Rate
0    1        43           65
1    2        34           67
2    3        65           78
3    4        56           65
4    5        29           45

In [14]:
df2 = df.set_index('Day')
df2.head()

     Visitors  Bounce Rate
Day
1          43           65
2          34           67
3          65           78
4          56           65
5          29           45

In [8]:
x = df.iloc[0,1]
y = df.iloc[1,1]
print(x)
print(y)


xVisitors = x + y
print(xVisitors)

43
34
77

In [24]:
for row in df:
    print(row)

Day
Visitors
Bounce Rate

In [21]:
for row in df:
    i = row
    p = df.iloc[0,0]
    print(p)
    print(i)

1
Day
1
Visitors
1
Bounce Rate

In [25]:
df.head()

   Day  Visitors  Bounce Rate
0    1        43           65
1    2        34           67
2    3        65           78
3    4        56           65
4    5        29           45

In [37]:
a = df.iloc[0,0]
b = df.iloc[0,1]
print(a)
print(b)
#d = df.iloc[1,"Day"]
#print(d)
df["Day"]

1
43

0    1
1    2
2    3
3    4
4    5
5    6
Name: Day, dtype: int64

In [27]:
c = a + b
print(c)

44

In [39]:
for Day in df:
    print(row)

Bounce Rate
Bounce Rate
Bounce Rate

In [41]:
df2.iterrows

<bound method DataFrame.iterrows of      Visitors  Bounce Rate
Day
1          43           65
2          34           67
3          65           78
4          56           65
5          29           45
6          76           52>